##### Global
build/
.vscode/
roms/
.gdb_history
massif.out.*
logs/

##### Precompiled Headers
*.gch   binary
*.pch   binary

##### Compiled Object files
*.o     binary
*.obj   binary

##### Compiled Dynamic libraries
*.so    binary
*.dylib binary

##### Compiled Static libraries
*.a     binary

##### Executables
*.out